.loader {
    display: flex;
    position: fixed;
    background: #0009;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    justify-content: center;
    align-content: center;
    align-items: center;
}